@font-face {
  font-family: digital-7;
  src: local("digital-7"), url("./fonts/digital-7.ttf") format("truetype");
}

.Title{
  background-color: transparent;
  text-align: center;
  font-size: 200%;
}

.wrapper{
  height: 100vh;
  width: 100vw;
  background-color: lightgray;
}

.lengthStr{
  font-size: 15px;
}

.Lengthwrapper{
  text-align: center;
  background-color: transparent;
  font-size: 20px;
}

.LengthHeader{
  text-align: center;
  font-size: 120%;
}

.Setter{
  margin-top: 10px;
}

.btnChange{
  background-color: transparent;
  border: none;
  padding-left: 1em;
  padding-right: 1em;
}

.Display{
  text-align: center;
}

.DisplayCol{
  background-color: transparent;
  border: solid ;
  border-radius: 20px;
  text-align: center;
  padding-top: 2%
}

.Toolbar{
  text-align: center;
}

.ToolbarCol{
  background-color: transparent;
}

.watchwrapper{
  background-color: #282c34;
  padding-top: 3%;
  padding-bottom: 3%;
  margin-right: 28vw;
  margin-left: 28vw;
  font-family: digital-7, serif;
  color: greenyellow;
  border-radius: 60%;
  border: 20px solid black;
}

.Icons{
  color: greenyellow;
}